/* Base Application Styles */
@import './weather-icons/sass/weather-icons.scss';
@import './pure';

$mid: #e4e7e8;
$text: #3e3e3e;
$textLight: lighten($text, 10%);
$primary: #5893ff;

$border-left-width: .35rem;
$medium-break-point: 600px;
$shadow: 0 5px 20px 2px rgba(0, 0, 0, .2);

html
{
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after
{
    box-sizing: inherit;
}
.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    overflow: hidden;

    height: 100%;
    max-height: 100%;

    color: $text;

    @media (min-width: $medium-break-point)
    {
        font-size: 17px;
    }
}

#outer-container,
#app
{
    height: 100%;
}


//from bs
.sr-only
{
    position: absolute;

    overflow: hidden;
    clip: rect(0,0,0,0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*heights*/

.navbar
{
    height: 50px;
}

.tab-component
{
    height: 25px;
    margin-top: 15px;
    padding-bottom: 5px;

    border-bottom: 2px solid #e8e8e8;

    @media (min-width: $medium-break-point)
    {
        height: 35px;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
}
.calendar-top
{
    height: 80px;
}

/*this is a div w/o classname created by scroll component*/
.calendar-top + div
{
    height: calc(100vh - 50px - (25px + 15px + 5px) - (50px + 24px) - 10px) !important;
    margin: auto;

    @media (min-width: $medium-break-point)
    {
        height: calc(100vh - 50px - (35px + 15px + 10px + 5px) - 80px - 10px) !important;
    }
}


.calendar-bottom
{
    height: 10px;
}



button
{
    padding: .5rem;

    transition: border .5s, color .5s;

    color: white;
    border: 2px solid darken($mid, 5%);
    background: transparent;
    &:hover
    {
        color: $primary;
        border: 2px solid $primary;
    }
}
ol,
ul
{
    margin: 0;
    padding: 0;
}

.responsive-container
{
    width: 99%;
    margin: auto;
    @media (min-width: $medium-break-point)
    {
        width: 96%;
        max-width: 900px;
    }
}



/* ==========================================================================
   general helper classes
   ========================================================================== */

.v-align-container
{
    display: flex;

    align-items: center;
    justify-content: center;
}

.shadow
{
    box-shadow: $shadow;
}


.fade-out-up
{
    transform: translateY(-50%);

    opacity: 0;
}

.fade-background
{
    background-color: rgba(0, 0, 0, .84) !important;
}

.faded
{
    opacity: .14;
}


/* ==========================================================================
   calendar container
   ========================================================================== */
.calendar__container
{
    position: relative;
}

.calendar
{
    position: relative;
}

.calendar-top
{
    position: relative;
    z-index: 1;

    overflow: hidden;
    @media (min-width: $medium-break-point)
    {
        display: flex;
    }
}
.calendar-top .date
{
    @media (min-width: $medium-break-point)
    {
        position: absolute;
        right: 0;

        order: 1;
    }
}

.calendar-top .date h3
{
    font-size: 1rem;

    margin: 0;
    padding: 5px;

    color: $textLight;
    background: #eaeaea;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.2rem;

        padding: 10px 0 0 0;
        padding-top: 26px;

        background: #fff;
    }
}

.calendar-top + div
{
    border: 1px solid darken($mid, 5%);
}

.calendar-top + div > div
{
    overflow-x: hidden !important;
}

.calendar-bottom
{
    min-height: 20px;
}

.calendar-header
{
    font-size: .9rem;

    display: none;

    width: 30%;
    margin-right: auto;
    margin-left: 16%;
    padding: 6px 2% 6px 0;

    @media (min-width: $medium-break-point)
    {
        display: flex;

        align-self: flex-end;
    }
}

.calendar-header div:last-of-type
{
    position: relative;
    left: 3px;
}

.calendar-header .wi
{
    font-size: 1.4rem;

    color: lighten($textLight, 20%);
}
.calendar-header > div
{
    display: flex;

    width: 15%;
    height: 100%;

    color: lighten($textLight, 10%);

    align-items: center;
}


/* ==========================================================================
   calendar hour row
   ========================================================================== */
.calendar__hour
{
    display: flex;

    height: 82px;

    border-bottom: 2px solid #fff;
    background: $mid;
    @media (min-width: $medium-break-point)
    {
        height: 42px;
    }
}
.calendar__hour > div:nth-of-type(1)
{
    width: 30px;
    padding: 2px 0 0 4px;

    color: lighten($textLight, 15%);
}
.calendar__hour > div:nth-of-type(2)
{
    flex-grow: 1;
}
.calendar__hour__weather
{
    font-weight: bold;

    position: relative;

    width: 16%;

    cursor: pointer;
    transition: box-shadow .4s;

    color: $textLight;
    border-left: $border-left-width solid transparent;
    background: hsla(0, 0%, 0%, .1);

    @media (min-width: $medium-break-point)
    {
        display: flex;
        flex-direction: row;

        height: 100%;
    }
    &:hover
    {
        box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .3);
    }
}


.weather-icon-small
{
    font-size: 1.2rem;
}


.calendar__hour--day .calendar__hour__weather
{
    background: rgba(255, 255, 255, .3);
    &:hover
    {
        box-shadow: $shadow;
    }
}
.calendar__hour__weather > div
{
    margin: 5px 0;
    padding: 0;

    text-align: center;
    @media (min-width: $medium-break-point)
    {
        width: 100%;
        margin: 0;

        text-align: center;
    };
}

// z-index is so that mobile has svg as background
.calendar__hour__weather > div:first-of-type
{
    position: relative;
    z-index: 1;

    margin: 0;
    padding-top: 11px;
}

.calendar__hour__weather > div:nth-of-type(2)
{
    position: relative;
    z-index: 1;
}
.calendar__hour__weather > div:last-of-type
{
    height: 100%;
}

.calendar__hour__weather > div > span
{
    position: relative;
}
.temp
{
    height: 100%;
    padding-top: 10px;
}

.calendar__hour__weather .precip-anim-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    @extend .v-align-container;
    @media (min-width: $medium-break-point)
    {
        position: relative;
    }
}
.calendar__hour__weather .wi
{
    font-size: 1.2rem;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}
.calendar__hour__weather .precip-anim-container span
{
    width: 100%;
    @media (min-width: $medium-break-point)
    {
        position: relative;
        top: 25%;

        display: inline-block;

        transform: translateY(-50%);
    }
}
.calendar__hour__weather svg
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 10px;

    width: 100%;
    height: 100%;
}

@keyframes fall-down
{
    0%
    {
        transform: translateY(-20px);

        opacity: .1;
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(80px);

        opacity: .1;
    }
}

.fall-down
{
    animation: fall-down 3s ease-in infinite;
}



/* ==========================================================================
   calendar entry
   ========================================================================== */
.all-day-tasks
{
    overflow: auto;

    max-height: 50px;
    @media (min-width : $medium-break-point)
    {
        width: 84%;
        max-height: 80px;
    }
}
.all-day-tasks li
{
    display: inline-block;
    overflow: hidden;

    width: 100%;
    max-height: 32px;
    margin: 2px 4px 2px 0;
    padding: 4px;

    list-style-type: none;

    cursor: pointer;
    transition: box-shadow .4s, transform .4s, opacity .4s;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: #fff;

    @media (min-width : $medium-break-point)
    {
        width: auto;
        max-width: 200px;
        margin: 4px 8px 0 0;
    }
    &:hover
    {
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
    }
}
.calendar__entry
{
    position: absolute;

    overflow: hidden;

    list-style: none;

    cursor: pointer;
    transition: opacity .5s, box-shadow .5s, transform .5s;

    color: $text;
    border: 1px solid gainsboro;
    background-color: #fff;
    &:hover
    {
        box-shadow: $shadow;
    }
}

.calendar-entry-animation-enter
{
    transform: scale(.8);

    opacity: .01;
}

.calendar-entry-animation-enter.calendar-entry-animation-enter-active
{
    transform: scale(1);

    opacity: 1;
}


.calendar__entry > div
{
    padding: .5%;
}
.calendar__entry > div:first-of-type
{
    font-size: .8em;
    font-weight: bold;

    color: $textLight;
}
.calendar__entrylist
{
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: 30px;

    margin-top: 0;
    @media (min-width: $medium-break-point)
    {
        right: 18%;
        left: 40px;
    }
}



/* ==========================================================================
   tabs
   ========================================================================== */
.tab-component ul
{
    left: 0;

    display: flex;

    width: 100%;
    margin: auto;
}
.tab-component li
{
    position: relative;
    z-index: 1;
    top: -6px;

    width: 50%;

    list-style: none;

    transition: color .5s;
    text-align: center;
}
.tab__title
{
    font-size: 1.2rem;
    font-weight: bold;
    font-variant: small-caps;

    top: -4px;

    margin: 0;

    text-transform: lowercase;

    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}
.tab__title__label
{
    display: inline-block;
    overflow: hidden;

    max-width: 40%;

    vertical-align: top;
    text-overflow: ellipsis;
}
.tab__title__temp
{
    font-size: 1rem;

    position: relative;
    top: -2px;

    opacity: .7;
}
.tab__summary
{
    position: relative;
    top: -4px;
}
.tab-component li a
{
    display: inline-block;

    width: 100%;
    height: 100%;
    padding: 1% 0;

    transition: color .5s;
    text-decoration: none;
}

.tab-component__tab:not(.active) a
{
    color: lighten($textLight, 25%);

    &:hover
    {
        color: $textLight;
    }
}

.tab-component div,
.tab-component h3
{
    position: relative;
    z-index: 1;
}


.tab-component__tab.active a
{
    cursor: default;
    text-decoration: none;

    color: $primary;
}

.tab-component .icon-container
{
    position: relative;
}


.icon-container i
{
    font-size: 1.2rem;

    //3d is for safari fix--otherwise entire document jitters
    //still looks bad in safari :()
    transform: rotateX(-90deg);
    transform-origin: center;

    opacity: 0;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.8rem;
    }
}

.tab-component__tab.active .icon-container i
{
    transition: transform .4s ease-in, opacity .4s ease-in;
    transform: rotateX(360deg);

    opacity: .7;
}




.tab-component__tab
{
    position: relative;
}

.no-hour-entries
{
    font-size: 1.4rem;

    position: absolute;
    z-index: 1;
    top: calc(80px + 40%);
    left: 12%;

    color: #6d6d6d;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.8rem;

        left: 30%;
    }
}
/* ==========================================================================
   onboardModal
   ========================================================================== */
.overlay
{
    font-size: 1.2rem;

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    transition: opacity .5s, transform .5s, background-color .5s;

    color: #fff;
    background-color: rgba(0, 0, 0, 1);

    align-items: center;
    justify-content: center;
}

.overlay-content
{
    display: flex;
    flex-direction: column;

    text-align: center;

    align-items: center;
}

.overlay-content .climacal-logo svg
{
    width: 100px !important;
    height: auto;
}


.overlay-details
{
    overflow: hidden;

    height: 250px;
    margin-top: 20px;
}



/* ==========================================================================
   menu
   ========================================================================== */

/* Position and sizing of burger button */
.bm-burger-button
{
    position: absolute;
    z-index: 2 !important;
    top: 12px;
    right: 2%;

    width: 100px;
    height: 30px;

    @media (min-width: '900px')
    {
        right: calc((100vw - 900px)/2);
    }
}

.bm-burger-button button
{
    height: auto !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button
{
    width: 24px;
    height: 24px;
}

/* Color/shape of close button cross */
.bm-cross
{
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu
{
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 30px;
    font-size: 1.5rem;

    text-transform: lowercase;

    background-color: rgba(0, 0, 0, .5);
}

.bm-menu-wrap
{
    z-index: 3 !important;
}

.bm-overlay
{
    z-index: 3 !important;

    background: rgba(0, 0, 0, .66) !important;
}

.bm-item-list a span
{
    margin-left: 10px;
}

.bm-menu__footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
}

.bm-menu__item
{
    display: block;

    height: 60px;
    padding: 1rem;
    font-size: 1.4rem;

    cursor: pointer;
    text-decoration: none;

    color: $primary;

    &:hover
    {
        color: darken($primary, 10%);
    }
}

.bm-menu__item i
{

    width: 40px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape
{
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list
{
    color: $textLight;
}

.bm-menu h3
{
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;

    margin: 0;
    padding: 0 1rem;

    text-align: left;

    color: white;
}

.bm-menu h3 em
{
    font-style: normal;

    display: block;
}

.bm-menu .section
{
    padding: 20px 0;

    border-right: none;
    border-bottom: 2px solid hsla(255, 255, 255, .1);
    border-left: none;
}

.bm-menu .load-google
{
    font-variant: small-caps;

    display: block;

    margin: auto;
    padding: .5rem;

    text-transform: lowercase;
}

/* ==========================================================================
   popover
   ========================================================================== */

.Popover
{
    z-index: 3;
}
.Popover-body
{
    display: inline-flex;
    flex-direction: column;

    padding: 1rem 2rem;

    color: $text;
    border: 2px solid darken($mid, 15%);
    background: #fff;
}

.Popover-body h4
{
    margin: .3rem 0;
}

.Popover-body a
{
    padding: .4rem .6rem;

    text-decoration: none;

    color: $text;
    border: 1px solid gray;
    border-radius: .2rem;
    &:hover
    {
        color: $primary;
    }
}

.Popover-body li
{
    list-style-type: none;
}

.Popover-tipShape
{
    fill: darken($mid, 15%);
}

/* ==========================================================================
   app logo
   ========================================================================== */

.climacal-logo
{
    display: flex !important;

    padding: .5%;
}

.climacal-logo h1
{
    font-size: 2rem;

    margin: .1rem .5rem 0 .5rem;

    color: lighten($textLight, 30%);
}

.bm-menu .climacal-logo
{
    margin-left: 3%;
    padding-top: 40px;
}

/* ==========================================================================
     top nav
     ========================================================================== */

.navbar
{
    position: relative;
    z-index: 1;

    display: flex;

    border-bottom: 1px solid darken($mid, 3%);
    background-color: $mid;

    justify-content: space-between;
}

.navbar .climacal-logo h1
{
    visibility: hidden;

    @media (min-width: $medium-break-point)
    {
        visibility: visible;
    }
}

.navbar .climacal-logo img
{
    width: auto;
    max-height: 40px;
}
