/* Base Application Styles */
@import './weather-icons/sass/weather-icons.scss';
@import './../../node_modules/react-dd-menu/src/scss/react-dd-menu.scss';

$mid: #e4e7e8;
$text: #3e3e3e;
$textLight: lighten($text, 10%);
$superLightText : lighten($textLight, 16%);
$primary: #5893ff;

$border-left-width: .4rem;
$medium-break-point: 600px;
$large-break-point: 960px;
$shadow: 0 5px 20px 2px rgba(0, 0, 0, .2);

html
{
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after
{
    box-sizing: inherit;
}
.clearfix:after
{
    display: table;
    clear: both;
    content: '';
}
body
{
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    color: $text;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;

    @media (min-width: $medium-break-point)
    {
        font-size: 17px;
    }
}

#outer-container,
#app
{
    overflow: hidden;
    height: 100%;
}

li {
  list-style-type: none;
}


//from bs
.sr-only
{
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.pull-right {
  float : right !important;
}


/*heights*/

.navbar
{
    height: 50px;
}

.tab-component
{
    height: 30px;

    @media (min-width: $medium-break-point)
    {
        margin-bottom: 5px;
        height: 40px;
    }
}
.calendar-top
{
    height: 80px;
}

/*this is a div w/o classname created by scroll component*/
.calendar-top + div
{
    margin: auto;
    height: calc(100vh - 50px  - 38px  - 75px) !important;

    @media (min-width: $medium-break-point)
    {
        height: calc(100vh - 50px  - (48px + 5px) - 85px - 10px) !important;
    }
}

button {
  border: none;
  background: transparent;
  color: $textLight;
}

a {
  color : $primary;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    color: darken($primary, 10%)
  }
}

.btn
{
    padding: .4rem;
    font-variant: small-caps;
    text-transform: lowercase !important;
    font-weight: bold;
    font-size: 1.3rem;
    background : white;
    color: $primary;
    box-shadow: 0 0 6px #c6c6c6;
    transition: color .5s, box-shadow .5s;
    @media (min-width: $medium-break-point)
    {
      padding: .5rem;
    }
    &:hover
    {
        color: darken($primary, 5%);
        box-shadow: 0 0 14px darken(#c6c6c6, 10%);

    }

    @media (min-width: $medium-break-point)
    {
      font-size: 1.3rem;

    }
}
ol,
ul
{
    margin: 0;
    padding: 0;
}

*:focus {
  outline: thin dotted darken($primary, 10%);
}

.responsive-container
{
    margin: auto;
    width: 100%;
    @media (min-width: $medium-break-point)
    {
        max-width: 900px;
        width: 96%;
    }
}

/* ==========================================================================
   general helper classes
   ========================================================================== */

.v-align-container
{
    display: flex;

    align-items: center;
    justify-content: center;
}

.shadow
{
    box-shadow: $shadow;
}


.fade-out-up
{
    opacity: 0;
    transform: translateY(-50%);
}

.faded
{
    opacity: .14;
}

.small-invisible {
  @media (max-width: $medium-break-point)
  {
    display: none !important;
  }

}

.small-visible {
  @media (min-width: $medium-break-point)
  {
    display: none !important;
  }

}

.small-inline {
  display: inline-block;

  @media(min-width: $medium-break-point){
    display:none;
  }
}

.large-inline {
  display: none !important;
  @media(min-width: $medium-break-point){
    display:inline !important;
  }
}


/* ==========================================================================
   calendar container
   ========================================================================== */


.mobile-tabs {
  display : flex;
  margin-top: 5px;
  @media (min-width: $medium-break-point)
  {
    display:none;
  }
}
.mobile-tabs>div{
  width: 50%;
}

.mobile-tabs button {
  color : $superLightText;
  width: 100%;
  border:none;
  border-bottom: 2px solid $mid;

}

.mobile-tabs .active button {
  color : $primary;
  border-color: $primary;
}

.calendar__container
{
    position: relative;
    overflow-y: hidden;
    //for animations
    @media (min-width: $medium-break-point)
    {
      min-height: 1008px;
    }
}

.calendar
{
    position: relative;
}

.calendar-top
{
    position: relative;
    z-index: 1;
    //will be overflow in mobile view bc of all day tasks
    @media (min-width: $medium-break-point)
    {
      overflow: hidden;

    }
}

.calendar-top__day-description {
  padding: 14px 0 3px 0;
  color: $superLightText;
  text-align: center;
  font-size : .8rem;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $medium-break-point)
  {
    font-size: 1rem;
    max-height: auto;
    height:32px;
  }
}

.calendar-top__day-description h4 {
  display: inline;
  font-size : .8rem;
  @media (min-width: $medium-break-point)
  {
    font-size: 1rem;
  }

}

.calendar-top + div > div
{
    overflow-x: hidden !important;
}

.calendar-header
{
    display: none;
    margin-right: auto;
    margin-left: 16%;
    padding: 6px 2% 6px 0;
    width: 30%;
    font-size: .9rem;

    @media (min-width: $medium-break-point)
    {
        display: flex;

        align-self: flex-end;
    }
}

.calendar-header div:last-of-type
{
    position: relative;
    left: 3px;
}

.calendar-header .wi
{
    color: lighten($textLight, 20%);
    font-size: 1.4rem;
}
.calendar-header > div
{
    display: flex;
    width: 15%;
    height: 100%;
    color: lighten($textLight, 10%);

    align-items: center;
}


/* ==========================================================================
   calendar hour row
   ========================================================================== */
.calendar__hour
{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 82px;
    border-bottom: 1px solid lighten($mid, 3%);
    @media (min-width: $medium-break-point)
    {
        height: 42px;
        border-bottom: 2px solid #fff;
        background: $mid;
    }

    &:focus {
      outline: none;
    }
}
.calendar__hour > div:nth-of-type(1)
{
    padding: 2px 0 0 4px;
    width: 30px;
    color: lighten($textLight, 15%);
}
.calendar__hour > div:nth-of-type(2)
{
    flex-grow: 1;
}

.showing-own-data {
  .happened-already {
    opacity: .4 !important;
  }
}

.calendar__hour__weather
{
    position: relative;
    width: 19%;
    background: hsla(0, 0%, 0%, .1);
    color: $textLight;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow .4s;

    @media (min-width: $medium-break-point)
    {
        width: 19%;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    &:hover
    {
        box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .3);
    }
}


.weather-icon-small
{
    font-size: 1.2rem;
    display: inline;
}


.calendar__hour--day .calendar__hour__weather
{
    background: rgba(255, 255, 255, .3);
    &:hover
    {
        box-shadow: $shadow;
    }
}
.calendar__hour__weather > div
{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
    flex-direction: column;
    @media (min-width: $medium-break-point)
    {
        width: 33%;
        height: 100%;
        flex-direction: row;
    };
}


.calendar__hour__weather .weather__icon
{
    position: relative;
    z-index: 1;
}


.calendar__hour__weather > div > span
{
    position: relative;
}


.calendar__hour__weather .precip-anim-container
{
    overflow: hidden;
    width: 100%;
    height: 100%;

    @extend .v-align-container;
    @media (min-width: $medium-break-point)
    {
        position: relative;
    }
}
.calendar__hour__weather .wi
{
    font-size: 1.2rem;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}
.calendar__hour__weather .precip-anim-container span
{
    @media (min-width: $medium-break-point)
    {
        position: relative;
        top: 25%;
        display: inline-block;
        transform: translateY(-50%);
    }
}
.calendar__hour__weather svg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

@keyframes fall-down
{
    0%
    {
        opacity: .1;
        transform: translateY(-20px);
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: .1;
        transform: translateY(80px);
    }
}

.fall-down
{
    animation: fall-down 3s ease-in infinite;
}



/* ==========================================================================
   calendar entry
   ========================================================================== */
.all-day-tasks
{
    position: relative;
    top: 4px;
    overflow-x: hidden;
    overflow-y:hidden;
    @media (min-width : $medium-break-point)
    {
        max-height: 80px;
        background: #fff;
        overflow-y: auto;
  }

}


.all-day-tasks ul {
  display:block;

  @media (min-width : $medium-break-point)
  {
      display:flex;
}
}

.all-day-tasks li
{
    overflow: hidden;
    margin: 10px auto;
    width: 95%;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow .4s;
    padding: 6px;
    position:relative;

    &:after {
      content : "";
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      border: 1px solid $mid;
      display:block;
    }

    @media (min-width : $medium-break-point)
    {
        margin: 4px 8px 0 0;
        max-width: 30%;
        width: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 34px;
        padding: 4px;

    }
    &:hover
    {
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
    }
}

//h5s in this app should be styled as regular text
h5 {
  margin: 0;
  padding:0;
  font-weight: normal;
  font-size: 1rem;
}
.calendar__entry
{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border: 1px solid gainsboro;
    background-color: #fff;
    color: $text;
    list-style: none;
    cursor: pointer;
    transition: box-shadow .5s;
    &:hover
    {
        box-shadow: $shadow;
    }
}

.calendar__entry h5 {
  margin: 0;
  padding: 0;
  font-weight:normal;
  font-size: .9rem;
  @media (min-width: $medium-break-point)
  {
    font-size: 1rem;

  }
}

.calendar__entry > div
{
    padding: .2%;
}
.calendar__entry > div:first-of-type
{
    color: $textLight;
    font-weight: bold;
    font-size: .8em;
}
.calendar__entrylist
{
    position: absolute;
    top: 0;
    right: 17%;
    bottom: 0;
    left: 34px;
    margin-top: 0;
    right: 19%;
    left: 30px;
    @media (min-width: $medium-break-point)
    {
        left: 40px;
    }
}

/* ==========================================================================
   week view
   ========================================================================== */

//removing this messes up scrollbars component
.calendar-week__container {
  height: 80vh;
}

.calendar-week__container h5 {
  font-size: .9rem;
}

.calendar-week {
  position: relative;
  display : flex !important;

  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 15px;
  background: $mid;

  @media (min-width: $large-break-point)
  {
    justify-content:flex-start;
    height: 630px;
    padding-top: 5px;
  }
}

.calendar-week__summary {
  padding: 10px;
  color: $textLight;
  text-align: center;
  font-weight: 500;
  font-size: .9rem;
  color: $superLightText;
  border-bottom: 1px solid darken($mid, 5%);
  @media (min-width: $medium-break-point)
  {
    font-size : 1rem;
    border-bottom: none;
  }

}

.calendar-week__day {
  margin-bottom: 20px;
  width : 92%;
  background: #fff;
  border: 1px solid $mid;
  font-size: .9rem;

  @media (min-width: $medium-break-point)
  {
    margin-bottom: 0;
    width: 222px;
    height: 310px;
    border: 5px solid $mid;
    font-size: .9rem;
  }
}

.calendar-week__day h4 {
    margin: 0;
    border-bottom: 1px solid lighten($mid, 5%);
    color: $textLight;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: 1rem;
    height: 50px;
    padding: 15px 5px 5px 5px;
    @media (min-width: $medium-break-point)
    {
      height: auto;
      padding: 10px 0;
    }
}

.calendar-week__day__weather {
  position: relative;
  height: 50px;
  display: flex;
  border-top: 1px solid lighten($mid, 5%);
  cursor: pointer;
  transition: box-shadow .4s;
  font-weight: 600;
  color : $superLightText;
  text-align: center;
  font-size: .9rem;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color : $textLight;

  }
  &>div {
    width:33%;
  }

  @media (min-width: $medium-break-point)
  {
    color : $superLightText;
  }
}


.calendar-week__day__calendar {
  display : flex;
  flex-direction: column;
  padding: 15px;

  justify-content: center;


  @media (min-width: $medium-break-point)
  {
    padding: 0;
    height: 210px;
  }
}

.calendar-week__no-entries {
  display : flex;
  overflow: auto;
  padding: 15px;
  color : lighten($textLight, 45%);
  text-align: center;
  font-weight: 500;
  font-size: 1rem;

  align-items: center;
  justify-content: center;
  @media (min-width: $medium-break-point)
  {
    padding: 0;
    height: 210px;
  }

}

.calendar-week__icon-container {
  transform: translateY(10px);

}
.calendar-week__icon {
  position: relative;
  color: lighten($textLight, 10%);
  font-size: 2.1rem;
}

.calendar-week__icon.wi-forecast-io-snow,
.calendar-week__icon.wi-forecast-io-rain,
.calendar-week__icon.wi-forecast-io-thunderstorm,
.calendar-week__icon.wi-forecast-io-sleet
  {
  top: -5px;
}

.calendar-week__temperature {
  position: relative;
  top: 14px;
  z-index:1;
  color: lighten($textLight, 10%);
  font-size: 1.1rem;

}

.ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-week__all-day-tasks {
  margin: 10px 0;
}
.calendar-week__all-day-tasks:empty {
  margin: 0;
}

.calendar-week__all-day-tasks li {
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  transition: box-shadow .4s;

  @extend .ellipses;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  }

}

.calendar-week__time-event {
  margin: 2px 0;
  padding-top: 2px;
  height: 22px;
  cursor: pointer;
  transition: box-shadow .4s;

  @extend .ellipses;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  }
}

.calendar-week__time-event__tag {
  display:inline-block;
  padding: 0 3px;
  width: 52px;
  font-weight: 500;
}


/* ==========================================================================
   tabs
   ========================================================================== */



.tab-component ul
{
    left: 0;
    display: flex;
    margin: auto;
    width: 100%;
}
.tab-component li
{

    width: 50%;
    list-style: none;
    text-align: center;
    transition: color .5s;
}
.tab__title
{
    margin: 0;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.3rem;

    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;

    }
}
.tab__title__label
{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    @extend .ellipses;

}
.tab__title__temp
{
    font-size: 1.1rem;
    opacity: .7;
}
.tab__summary
{
    position: relative;
    top: -4px;
}


.tab-component__tab a
{
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $mid;
    color: lighten($textLight, 28%);
    text-decoration: none;
    transition: border-bottom .5s, color .5s;

    @media (min-width: $medium-break-point)
    {
        padding: 5px 0;
    }

    &:hover
    {
        border-bottom: 2px solid lighten($primary, 20%);

    }
}




.tab-component__tab.active a
{
    border-bottom: 2px solid lighten($primary, 10%);
    color: $primary;
    text-decoration: none;
    cursor: default;

}

.tab-component .icon-container
{
    position: relative;
    top: -2px;
}


.icon-container i
{
    font-size: 1.2rem;

    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}

.tab-component__tab.active .icon-container i
{
    opacity: .7;
}


.tab-component__tab
{
    position: relative;
}

.no-hour-entries
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform:translate(-50%);
  z-index: 1;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  cursor: pointer;
  color: gray;
  @media (min-width: $medium-break-point)
  {
    @extend .btn;
    font-size: 1.4rem;
    padding: 30px 80px;
    &:hover {
      color: $primary;
    }

  }
}
/* ==========================================================================
   onboardModal
   ========================================================================== */

.overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    background : white;
    @media (min-width: $medium-break-point)
    {
      background-color: rgba(0,0,0, .85);
  }
    color: $textLight;
    font-size: 1.2rem;
    transition: opacity .5s, transform .5s, background-color .5s;

    align-items: center;
    justify-content: center;
}

.overlay-content
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 3%;

    align-items: center;
}

.overlay-content img
{
    width: 80px !important;
    height: auto;
    @media (min-width: $medium-break-point)
    {
      width: 100px !important;
  }
}


.overlay-details
{
    text-align:center;
    hr {
      background: #d5d5ff;
      height: 2px;
      border: none;

    }
}

.explanation {
  color : $superLightText;
}

.overlay__header {
  color: #a4a4a4;
  font-weight: bold;
  margin: 15px 0;
  @media (min-width: $medium-break-point)
  {
    margin: 25px 0 25px 0;
}
}

.pure-form, .preview-container {
    max-width: 405px;
    margin: auto;

    input {
      display:inline-block !important;
      padding: .4rem !important;
      margin: 5px 0;
      width: 220px;
    }
    @media (min-width: $medium-break-point)
    {
      text-align: left;
      input {
        display:block;
      }
    }
}

.overlay-app-info button{
  color : $superLightText !important;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 30px;
}


/* ==========================================================================
   popover
   ========================================================================== */

.Popover
{
    z-index: 3;
    max-width: 400px;
}
.Popover-body
{
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .32);
    color: $textLight;
    min-width: 300px;
}

.Popover-body h4
{
    margin: .3rem 0;
}

.Popover-body h5
{
    margin: .8rem 0;
}

.Popover-tipShape
{
    fill: #fff;
}

.Popover__button {
  float : right;
  position:relative;
  left:18px;
  top: -12px;
  border: none;
  color: lighten($text, 35%);
  &:hover {
    color: $text;
    border:none;
  }
}

.Popover__edit-link {
  float: right;
  border: none;
  color: darken($primary, 10);
  &:hover {
    color: darken($primary, 20);
  }
}



/* ==========================================================================
     top nav
     ========================================================================== */

.navbar
{
    padding-top: 10px;
    position: relative;
}

.navbar .climacal-logo h1
{
    visibility: hidden;

    @media (min-width: $medium-break-point)
    {
        visibility: visible;
    }
}

.navbar .climacal-logo img
{
    max-height: 40px;
    width: auto;
    opacity: .8;
}


.dd-menu {
  position: absolute;
  right: 0;
  top: 10px;
}

.dd-menu button {
  margin: 0 5px;
  @media (min-width: $medium-break-point)
  {
    min-width: 250px;
    margin: 0;
  }
}

.dd-menu-items {
  position: relative;
  top: 36px;
}

.dd-menu .pure-form input {
  margin-right: 20px;
}

.dd-menu .dd-menu-items ul, .dd-menu .dd-menu-items ol {
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: $textLight;
    background-color: #fefefe;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.29);
    font-family : Raleway;
}

.dd-menu .dd-menu-items ul li:hover:not([role="separator"]):not(.separator), .dd-menu .dd-menu-items ul li > *:focus, .dd-menu .dd-menu-items ol li:hover:not([role="separator"]):not(.separator), .dd-menu .dd-menu-items ol li > *:focus {
    background-color: darken(#fff, 7%);
    color : $text;
  }

.dd-menu .dd-menu-items ul.dd-items-right li > *, .dd-menu .dd-menu-items ol.dd-items-right li > *  {
  text-align: left;
}

.dd-menu .dd-menu-items ul li > :not(.dd-item-ignore), .dd-menu .dd-menu-items ol li > :not(.dd-item-ignore) {
    font-family: 'Raleway', sans-serif;
}
