/* Base Application Styles */
@import './weather-icons/sass/weather-icons.scss';
@import './pure';

$mid: #e4e7e8;
$text: #3e3e3e;
$textLight: lighten($text, 10%);
$textLighter: lighten($textLight, 12%);
$primary: #5893ff;

$border-left-width: .4rem;
$medium-break-point: 600px;
$large-break-point: 960px;
$shadow: 0 5px 20px 2px rgba(0, 0, 0, .2);


html
{
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after
{
    box-sizing: inherit;
}
.clearfix:after
{
    display: table;
    clear: both;
    content: '';
}
body
{
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    color: $text;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;

    @media (min-width: $medium-break-point)
    {
        font-size: 17px;
    }
}

#outer-container,
#app
{
    overflow: hidden;
    height: 100%;
}

li {
  list-style-type: none;
}


//from bs
.sr-only
{
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}


/*heights*/

.navbar
{
    height: 50px;
}

.tab-component
{
    padding-bottom: 5px;
    height: 30px;

    @media (min-width: $medium-break-point)
    {
        margin-bottom: 5px;
        padding-bottom: 10px;
        height: 40px;
    }
}
.calendar-top
{
    height: 80px;
    @media (min-width: $medium-break-point)
    {
        height:85px;
    }
}


/*this is a div w/o classname created by scroll component*/
.calendar-top + div
{
    margin: auto;
    height: calc(100vh - 50px  - 38px  - 75px) !important;

    @media (min-width: $medium-break-point)
    {
        height: calc(100vh - 50px  - (48px + 5px) - 85px - 10px) !important;
    }
}


.calendar-bottom
{
    height: 10px;
}


button
{
    padding: .3rem;
    border: 2px solid darken($mid, 5%);
    background: transparent;
    color: white;
    transition: border .5s, color .5s;
    @media (min-width: $medium-break-point)
    {
      padding: .5rem;
    }
    &:hover
    {
        border: 2px solid $primary;
        color: $primary;
    }
}
ol,
ul
{
    margin: 0;
    padding: 0;
}

*:focus {
  outline: thin dotted darken($primary, 30%);
}

.responsive-container
{
    margin: auto;
    width: 100%;
    @media (min-width: $medium-break-point)
    {
        max-width: 900px;
        width: 96%;
    }
}


/* ==========================================================================
   general helper classes
   ========================================================================== */

.v-align-container
{
    display: flex;

    align-items: center;
    justify-content: center;
}

.shadow
{
    box-shadow: $shadow;
}


.fade-out-up
{
    opacity: 0;
    transform: translateY(-50%);
}

.fade-background
{
    background-color: rgba(0, 0, 0, .89) !important;
}

.faded
{
    opacity: .14;
}

.small-invisible {
  @media (max-width: $medium-break-point)
  {
    display: none;
  }

}

.small-visible {
  @media (min-width: $medium-break-point)
  {
    display: none;
  }

}

.small-inline {
  display: inline-block;

  @media(min-width: $medium-break-point){
    display:none;
  }
}


/* ==========================================================================
   calendar container
   ========================================================================== */


.mobile-tabs {
  display : flex;
  margin-top: 5px;
  @media (min-width: $medium-break-point)
  {
    display:none;
  }
}
.mobile-tabs>div{
  width: 50%;
}

.mobile-tabs button {
  color : lighten($textLighter, 10%);
  width: 100%;
  border:none;
  border-bottom: 2px solid $mid;

}

.mobile-tabs .active button {
  color : $primary;
  border-color: $primary;
}

.calendar__container
{
    position: relative;
}

.calendar
{
    position: relative;
}

.calendar-top
{
    position: relative;
    z-index: 1;
    //will be overflow in mobile view bc of all day tasks
    @media (min-width: $medium-break-point)
    {
      overflow: hidden;

    }
}

.calendar-top__day-description {
  padding: 12px 0 3px 0;
  color: lighten($textLighter, 10%);
  text-align: center;
  font-size : .8rem;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $medium-break-point)
  {
    font-size: 1rem;
    max-height: auto;
    height:32px;
  }
}

.calendar-top__day-description h4 {
  display: inline;
  font-size : .8rem;
  @media (min-width: $medium-break-point)
  {
    font-size: 1rem;
  }

}

.calendar-top + div
{
    @media (min-width: $medium-break-point)
    {
      border: 1px solid darken($mid, 5%);
    }
}

.calendar-top + div > div
{
    overflow-x: hidden !important;
}


.calendar-header
{
    display: none;
    margin-right: auto;
    margin-left: 16%;
    padding: 6px 2% 6px 0;
    width: 30%;
    font-size: .9rem;

    @media (min-width: $medium-break-point)
    {
        display: flex;

        align-self: flex-end;
    }
}

.calendar-header div:last-of-type
{
    position: relative;
    left: 3px;
}

.calendar-header .wi
{
    color: lighten($textLight, 20%);
    font-size: 1.4rem;
}
.calendar-header > div
{
    display: flex;
    width: 15%;
    height: 100%;
    color: lighten($textLight, 10%);

    align-items: center;
}


/* ==========================================================================
   calendar hour row
   ========================================================================== */
.calendar__hour
{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 82px;
    border-bottom: 1px solid lighten($mid, 3%);
    @media (min-width: $medium-break-point)
    {
        height: 42px;
        border-bottom: 2px solid #fff;
        background: $mid;
    }
}
.calendar__hour > div:nth-of-type(1)
{
    padding: 2px 0 0 4px;
    width: 30px;
    color: lighten($textLight, 15%);
}
.calendar__hour > div:nth-of-type(2)
{
    flex-grow: 1;
}
.calendar__hour__weather
{
    position: relative;
    width: 16%;
    border-left: $border-left-width solid transparent;
    background: hsla(0, 0%, 0%, .1);
    color: $textLight;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow .4s;

    @media (min-width: $medium-break-point)
    {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    &:hover
    {
        box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .3);
    }
}


.weather-icon-small
{
    font-size: 1.2rem;
}


.calendar__hour--day .calendar__hour__weather
{
    background: rgba(255, 255, 255, .3);
    &:hover
    {
        box-shadow: $shadow;
    }
}
.calendar__hour__weather > div
{
    margin: 5px 0;
    padding: 0;
    text-align: center;
    @media (min-width: $medium-break-point)
    {
        margin: 0;
        width: 100%;
        text-align: center;
    };
}

// z-index is so that mobile has svg as background
.calendar__hour__weather > div:first-of-type
{
    position: relative;
    z-index: 1;
    margin: 0;
    padding-top: 11px;
}

.calendar__hour__weather > div:nth-of-type(2)
{
    position: relative;
    z-index: 1;
}
.calendar__hour__weather > div:last-of-type
{
    height: 100%;
}

.calendar__hour__weather > div > span
{
    position: relative;
}
.temp
{
    padding-top: 10px;
    height: 100%;
}

.calendar__hour__weather .precip-anim-container
{
    overflow: hidden;
    width: 100%;
    height: 100%;

    @extend .v-align-container;
    @media (min-width: $medium-break-point)
    {
        position: relative;
    }
}
.calendar__hour__weather .wi
{
    font-size: 1.2rem;
    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}
.calendar__hour__weather .precip-anim-container span
{
    width: 100%;
    @media (min-width: $medium-break-point)
    {
        position: relative;
        top: 25%;
        display: inline-block;
        transform: translateY(-50%);
    }
}
.calendar__hour__weather svg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

@keyframes fall-down
{
    0%
    {
        opacity: .1;
        transform: translateY(-20px);
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: .1;
        transform: translateY(80px);
    }
}

.fall-down
{
    animation: fall-down 3s ease-in infinite;
}



/* ==========================================================================
   calendar entry
   ========================================================================== */
.all-day-tasks
{
    position: relative;
    top: 4px;
    overflow-x: hidden;
    overflow-y:hidden;
    @media (min-width : $medium-break-point)
    {
        max-height: 80px;
        background: #fff;
        overflow-y: auto;
  }

}


.all-day-tasks ul {
  display:block;

  @media (min-width : $medium-break-point)
  {
      display:flex;
}
}

.all-day-tasks li
{
    overflow: hidden;
    margin: 10px auto;
    width: 95%;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow .4s;
    padding: 6px;
    position:relative;

    &:after {
      content : "";
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      border: 1px solid $mid;
      display:block;
    }

    @media (min-width : $medium-break-point)
    {
        margin: 4px 8px 0 0;
        max-width: 30%;
        width: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 34px;
        padding: 4px;

    }
    &:hover
    {
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
    }
}

//h5s in this app should be styled as regular text
h5 {
  margin: 0;
  padding:0;
  font-weight: normal;
  font-size: 1rem;
}
.calendar__entry
{
    position: absolute;
    overflow: hidden;
    border: 1px solid gainsboro;
    background-color: #fff;
    color: $text;
    list-style: none;
    cursor: pointer;
    transition: box-shadow .5s;
    &:hover
    {
        box-shadow: $shadow;
    }
}

.calendar__entry h5 {
  margin: 0;
  padding: 0;
  font-weight:normal;
  font-size: 1rem;
}

.calendar__entry > div
{
    padding: .2%;
}
.calendar__entry > div:first-of-type
{
    color: $textLight;
    font-weight: bold;
    font-size: .8em;
}
.calendar__entrylist
{
    position: absolute;
    top: 0;
    right: 16%;
    bottom: 0;
    left: 34px;
    margin-top: 0;
    @media (min-width: $medium-break-point)
    {
        right: 18%;
        left: 40px;
    }
}

/* ==========================================================================
   week view
   ========================================================================== */

//removing this messes up scrollbars component
.calendar-week__container {
  height: 80vh;
}

.calendar-week__container h5 {
  font-size: .9rem;
}

.calendar-week {
  position: relative;
  display : flex !important;

  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 15px;

  @media (min-width: $large-break-point)
  {
    justify-content:flex-start;
    height: 620px;
    padding-top: 5px;
    background: $mid;


  }
}

.calendar-week__summary {
  padding: 10px;
  color: $textLighter;
  text-align: center;
  font-weight: 500;
  font-size: .9rem;
  color: lighten($textLighter, 10%);
  border-bottom: 1px solid darken($mid, 5%);
  @media (min-width: $medium-break-point)
  {
    font-size : 1rem;
    border-bottom: none;

  }

}


.calendar-week__day {
  margin-bottom: 20px;
  width : 92%;
  background: #fff;
  font-size: .9rem;
  border: 1px solid $mid;

  @media (min-width: $medium-break-point)
  {
    margin-bottom: 0;
    width: 222px;
    height: 300px;
    border: 5px solid $mid;
  }
}

.calendar-week__day h4 {
    margin: 0;
    padding: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid lighten($mid, 5%);
    color: $textLight;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: 1rem;
}

.calendar-week__day:first-of-type h4 {
  color: $primary;
}

.calendar-week__day__weather {
  position: relative;
  height: 50px;
  display: flex;
  border-top: 1px solid lighten($mid, 5%);
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow .4s;
  color : lighten($textLighter, 10%);
  text-align: center;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color : $textLight;

  }
  &>div {
    width:33%;
  }
}


.calendar-week__day__calendar {
  display : flex;
  flex-direction: column;
  padding: 15px;

  justify-content: center;


  @media (min-width: $medium-break-point)
  {
    padding: 0;
    height: 210px;
  }
}

.calendar-week__no-entries {
  display : flex;
  overflow: auto;
  padding: 15px;
  color : lighten($textLight, 45%);
  text-align: center;
  font-weight: 500;
  font-size: 1rem;

  align-items: center;
  justify-content: center;
  @media (min-width: $medium-break-point)
  {
    padding: 0;
    height: 210px;
  }

}

.calendar-week__icon-container {
  transform: translateY(10px);

}
.calendar-week__icon {
  position: relative;
  color: lighten($textLight, 10%);
  font-size: 2.1rem;
}

.calendar-week__icon.wi-forecast-io-snow,
.calendar-week__icon.wi-forecast-io-rain,
.calendar-week__icon.wi-forecast-io-thunderstorm,
.calendar-week__icon.wi-forecast-io-sleet
  {
  top: -5px;
}

.calendar-week__temperature {
  position: relative;
  top: 14px;
  z-index:1;
  color: lighten($textLight, 10%);
  font-size: 1.1rem;

}

.ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-week__all-day-tasks {
  margin: 10px 0;
}
.calendar-week__all-day-tasks:empty {
  margin: 0;
}

.calendar-week__all-day-tasks li {
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  transition: box-shadow .4s;

  @extend .ellipses;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  }

}

.calendar-week__time-event {
  margin: 2px 0;
  padding-top: 2px;
  height: 22px;
  cursor: pointer;
  transition: box-shadow .4s;

  @extend .ellipses;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  }
}

.calendar-week__time-event__tag {
  display:inline-block;
  padding: 0 3px;
  width: 52px;
  font-weight: 500;
}


/* ==========================================================================
   tabs
   ========================================================================== */



.tab-component ul
{
    left: 0;
    display: flex;
    margin: auto;
    width: 100%;
}
.tab-component li
{
    position: relative;
    z-index: 1;
    width: 50%;
    list-style: none;
    text-align: center;
    transition: color .5s;
}
.tab__title
{
    margin: 0;
    text-transform: lowercase;
    font-weight: bold;
    font-size: .9rem;

    @media (min-width: $medium-break-point)
    {
        font-size: 1.3rem;

    }
}
.tab__title__label
{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    @extend .ellipses;

}
.tab__title__temp
{
    position: relative;
    top: -5px;
    font-size: 1.1rem;
    opacity: .7;
}
.tab__summary
{
    position: relative;
    top: -4px;
}


.tab-component__tab a
{
    display: inline-block;
    padding: 11px 0 4px 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $mid;
    color: lighten($textLight, 28%);
    text-decoration: none;
    transition: border-bottom .5s, color .5s;


    @media (min-width: $medium-break-point)
    {
        padding: 13px 0 5px 0;
        font-size: 1.8rem;

    }

    &:hover
    {
        border-bottom: 2px solid lighten($primary, 20%);

    }
}

.tab-component div,
.tab-component h3
{
    position: relative;
    z-index: 1;
}


.tab-component__tab.active a
{
    border-bottom: 2px solid lighten($primary, 10%);
    color: $primary;
    text-decoration: none;
    cursor: default;

}

.tab-component .icon-container
{
    position: relative;
    top: -2px;
}


.icon-container i
{
    font-size: 1.2rem;

    @media (min-width: $medium-break-point)
    {
        font-size: 1.6rem;
    }
}

.tab-component__tab.active .icon-container i
{
    opacity: .7;
}


.tab-component__tab
{
    position: relative;
}

.no-hour-entries
{
    position: absolute;
    top: calc(80px + 40%);
    left: 12%;
    z-index: 1;
    color: $textLight;
    font-size: 1.4rem;
    @media (min-width: $medium-break-point)
    {
        left: 34%;
    }
}
/* ==========================================================================
   onboardModal
   ========================================================================== */
.overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 1.2rem;
    transition: opacity .5s, transform .5s, background-color .5s;

    align-items: center;
    justify-content: center;
}

.overlay-content
{
    display: flex;
    flex-direction: column;
    min-width: 80%;
    text-align: center;

    align-items: center;
}

.overlay-content .climacal-logo svg
{
    width: 100px !important;
    height: auto;
}


.overlay-details
{
    overflow: hidden;
    padding: 30px 0 0 0;
    height: 320px;
}

.explanation {
  color : darken(#fff, 15%);
}

/* ==========================================================================
   menu
   ========================================================================== */

/* Position and sizing of burger button */
.bm-burger-button
{
    position: absolute;
    top: 12px;
    right: 2%;
    z-index: 2 !important;
    width: 100px;
    height: 30px;

    @media (min-width: '900px')
    {
        right: calc((100vw - 900px)/2);
    }
}

.bm-burger-button button
{
    height: auto !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button
{
    width: 24px;
    height: 24px;
}

/* Color/shape of close button cross */
.bm-cross
{
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu
{
    padding-top: 30px;
    background-color: rgba(0, 0, 0, .5);
    text-transform: lowercase;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5rem;
}

.bm-menu-wrap
{
    z-index: 3 !important;
}

.bm-overlay
{
    z-index: 3 !important;
    background: rgba(0, 0, 0, .66) !important;
}

.bm-item-list a span
{
    margin-left: 10px;
}

.bm-menu__footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bm-menu__item
{
    display: block;
    padding: 1rem;
    height: 60px;
    color: $primary;
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover
    {
        color: darken($primary, 10%);
    }
}

.bm-menu__item i
{
    width: 40px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape
{
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list
{
    color: $textLight;
}

.bm-menu h3
{
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    color: white;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1.5rem;
}

.bm-menu h3 em
{
    display: block;
    font-style: normal;
}

.bm-menu .section
{
    padding: 20px 0;
    border-right: none;
    border-bottom: 2px solid hsla(255, 255, 255, .1);
    border-left: none;
}

.bm-menu .load-google
{
    display: block;
    margin: auto;
    padding: .5rem;
    text-transform: lowercase;
    font-variant: small-caps;
}

/* ==========================================================================
   popover
   ========================================================================== */

.Popover
{
    z-index: 3;
}
.Popover-body
{
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .32);
    color: $textLight;
}

.Popover-body h4
{
    margin: .3rem 0;
}

.Popover-body a
{
    padding: .4rem .6rem;
    border: 1px solid gray;
    border-radius: .2rem;
    color: $text;
    text-decoration: none;
    &:hover
    {
        color: $primary;
    }
}


.Popover-tipShape
{
    fill: #fff;
}

/* ==========================================================================
   app logo
   ========================================================================== */

.climacal-logo
{
    display: flex !important;
    padding: .5%;
}

.climacal-logo h1
{
    margin: .1rem .5rem 0 .5rem;
    color: lighten($textLight, 30%);
    font-weight: 500;
    font-size: 2rem;
}

.bm-menu .climacal-logo
{
    margin-left: 3%;
    padding-top: 40px;
}

/* ==========================================================================
     top nav
     ========================================================================== */

.navbar
{
    position: relative;
    z-index: 1;
    display: flex;
    border-bottom: 2px solid #F2F3F4;

    justify-content: space-between;
}

.navbar .climacal-logo h1
{
    visibility: hidden;

    @media (min-width: $medium-break-point)
    {
        visibility: visible;
    }
}

.navbar .climacal-logo img
{
    max-height: 40px;
    width: auto;
}
